table,
th,
td {
    border: 3px solid red;
    border-spacing: 10px;
}

table {
    width: 100%;
    padding: 3px;
}

th,
td {
    color: dodgerblue;
    text-align: left;
    height: 70px;
    padding: 20px;
}

th {
    text-align: center;
}

td:nth-child(1) {
    text-align: center;
}

tr:nth-child(2) {
    height: 200px;
}

img {
    width: 100%;
    object-fit: cover;
}

h2 {
    text-align: center;
}