table,th,td{
    border: 3px solid red;
    border-spacing: 10px;
}
table {
    width: 100%;
    padding: 3px;
}
th,td {
    color:dodgerblue;
    text-align: center;
    height: 70px;
}
tr:nth-child(2) {
    height: 250px;
}